@model IEnumerable<FinalExamLast.Models.JobApplication>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequiredQualifications)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobListing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Candidate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequiredQualifications)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobListing.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Candidate.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
